{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block banner %}
    <div id="banner-div">
        <h1 class="headerblock">{{ page_heading_1 }}</h1>
        <p>
            A product of group 17-3110-AN
            <br>
            Raza P1523890X, Rigby P15223403, Shanks P15225881
        </p>
        <hr class="deepline"/>
    </div>
    <div id="clear-div"></div>
{% endblock %}